.layout {
  padding: 80px;
  padding-top: 80px;
  background-color: #1a1a1a;
  min-height: calc(100vh - 160px);
}
.form {
  background-color: rgb(61, 61, 61);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.input {
  height: 36px;
  width: 20rem;
  border: none;
  outline: none;
  padding: 0 10px;
  border: 2px solid #00FF8B;
  background-color: #2b2b2b;
  transition: .3s ease-in;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
}
.input::placeholder {
  color: white;
}
.input:focus {
  border: 2px solid white;
}
.submit {
  height: 40px;
  width: 6rem;
  border: none;
  background-color: #00FF8B;
  font-weight: bold;
  cursor: pointer;
  transition: .3s all;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.submit:hover {
  background-color: white;
}

.list-gifs {
  color: white;
}
.card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: #1a1a1a;
}
.card .img {
  width: 400px;
  min-height: 200px;
}
.card img {
  width: 400px;
  border-radius: 5px;
}

.text {
  font-weight: bold;
  text-align: center;
}

.title {
  background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub {
  font-weight: normal;
}