.layout {
  padding: 80px;
  padding-top: 80px;
  background-color: #1a1a1a;
  min-height: calc(100vh - 160px);
}
.form {
  background-color: rgb(141, 141, 141);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.input {
  height: 36px;
  width: 20rem;
  border: none;
  outline: none;
  padding: 0 5px;
  border: 2px solid transparent;
  transition: .3s all;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.input:focus {
  border: 2px solid rgb(0, 104, 223);
}
.submit {
  height: 40px;
  width: 6rem;
  border: none;
  background-color: rgb(0, 104, 223);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: .3s all;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.submit:hover {
  background-color: rgb(0, 83, 179);
}

.list-gifs {
  color: white;
}
.card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: #1a1a1a;
}
.card .img {
  width: 400px;
  min-height: 200px;
}
.card img {
  width: 400px;
  border-radius: 5px;
}

#text {
  font-weight: bold;
  text-align: center;
}